repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: check-added-large-files
          - id: check-json
          - id: check-toml
          - id: check-yaml
          - id: end-of-file-fixer
          - id: trailing-whitespace

    - repo: https://github.com/pre-commit/pre-commit
      rev: v4.5.1
      hooks:
          - id: validate_manifest

    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: 0.36.0
      hooks:
          - id: check-dependabot
          - id: check-github-workflows
          - id: check-meltano
          - id: check-renovate
            language: python
            additional_dependencies:
                - pyjson5==2.0.0

    - repo: https://github.com/astral-sh/uv-pre-commit
      rev: 0.9.24
      hooks:
          - id: pip-compile
            files: ^plugins/requirements/requirements.tap-getpocket\.(in|txt)$
            args:
                - plugins/requirements/requirements.tap-getpocket.in
                - --universal
                - --python-version=3.14
                - --prerelease=allow
                - --output-file=plugins/requirements/requirements.tap-getpocket.txt
          - id: pip-compile
            files: ^plugins/requirements/requirements.tap-stackexchange\.(in|txt)$
            args:
                - plugins/requirements/requirements.tap-stackexchange.in
                - --universal
                - --python-version=3.14
                - --prerelease=allow
                - --output-file=plugins/requirements/requirements.tap-stackexchange.txt
          - id: pip-compile
            files: ^plugins/requirements/requirements.tap-readthedocs\.(in|txt)$
            args:
                - plugins/requirements/requirements.tap-readthedocs.in
                - --universal
                - --python-version=3.14
                - --prerelease=allow
                - --output-file=plugins/requirements/requirements.tap-readthedocs.txt
          - id: pip-compile
            files: ^plugins/requirements/requirements.tap-github\.(in|txt)$
            args:
                - plugins/requirements/requirements.tap-github.in
                - --universal
                - --python-version=3.14
                - --prerelease=allow
                - --output-file=plugins/requirements/requirements.tap-github.txt
          - id: pip-compile
            files: ^plugins/requirements/requirements.tap-pypistats\.(in|txt)$
            args:
                - plugins/requirements/requirements.tap-pypistats.in
                - --universal
                - --python-version=3.14
                - --prerelease=allow
                - --output-file=plugins/requirements/requirements.tap-pypistats.txt
          - id: pip-compile
            files: ^plugins/requirements/requirements.target-jsonl\.(in|txt)$
            args:
                - plugins/requirements/requirements.target-jsonl.in
                - --universal
                - --python-version=3.14
                - --prerelease=allow
                - --output-file=plugins/requirements/requirements.target-jsonl.txt
          - id: pip-compile
            files: ^plugins/requirements/requirements.target-duckdb\.(in|txt)$
            args:
                - plugins/requirements/requirements.target-duckdb.in
                - --universal
                - --python-version=3.14
                - --prerelease=if-necessary-or-explicit
                - --output-file=plugins/requirements/requirements.target-duckdb.txt
          - id: pip-compile
            files: ^plugins/requirements/requirements.dbt-duckdb\.(in|txt)$
            args:
                - plugins/requirements/requirements.dbt-duckdb.in
                - --universal
                - --python-version=3.14
                - --prerelease=if-necessary-or-explicit
                - --output-file=plugins/requirements/requirements.dbt-duckdb.txt
          - id: pip-compile
            files: ^plugins/requirements/requirements.sqlfluff\.(in|txt)$
            args:
                - plugins/requirements/requirements.sqlfluff.in
                - --universal
                - --python-version=3.14
                - --prerelease=if-necessary-or-explicit
                - --output-file=plugins/requirements/requirements.sqlfluff.txt
