name: Meltano Lock Update

on:
  schedule:
  - cron: '0 12 * * *'
  workflow_dispatch: {}

env:
  MELTANO_CLI_LOG_LEVEL: ${{ github.event.inputs.logLevel || 'warning' }}

permissions:
  contents: write
  pull-requests: write

jobs:
  meltano-lock:
    name: Meltano Lock Update
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/meltano/meltano:latest-python3.14-slim
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_IO_TOKEN }}

    steps:
    - name: Checkout Code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false

    - name: Check Meltano
      run: |
        meltano --version

    - name: Meltano Lock Update
      run: |
        meltano lock --update

    - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
      id: generate-token
      with:
        app-id: ${{ vars.APP_ID }}
        private-key: ${{ secrets.APP_PRIVATE_KEY }}

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
      with:
        token: ${{ steps.generate-token.outputs.token }}
        title: 'chore: Update Meltano Plugins'
        branch: meltano-lock-update
        commit-message: 'chore: Update Meltano Plugins'
        delete-branch: true
        reviewers: edgarrmondragon
        assignees: edgarrmondragon
        body: |
          Created with `meltano lock --update --all`
        labels: |
          dependencies
          Test/ELTP
